@import url('../../Styles/global-color.css');
@import url('../../Styles/global-fonts.css');

/* Card 1 CSS Styling  */

.card1 {
    width: 15rem;
    height: auto;
    background-color: var(--primary-brown-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.card1 img{
    width: 100%;
    height: auto;
}

.card1-heading{
    font-family: var(--font-Judson);
    padding: 1rem;
    font-size: 1rem;
}

.card1-subheading{
    font-family: var(--font-Lobster);
    padding: 0 0 1rem 0;
    font-size: 2rem;
    color: var(--primary-green-700);
}