@import url('../../../Styles/global-color.css');
@import url('../../../Styles/global-fonts.css');

.skeleton {
  animation: shimmer 3.5s infinite linear;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 400% 100%;
}

.product-details{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.skeleton-image {
  width: 100%;
  height: 300px;
  background-color: #ddd;
}

.skeleton-text {
  height: 12px;
  background-color: #ddd;
  margin: 8px 0;
}

.skeleton-title {
  width: 80%;
  height: 16px;
}

.skeleton-price {
  width: 60%;
}

.skeleton-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skeleton-star {
  width: 16px;
  height: 16px;
  background-color: #ddd;
  margin: 0 2px;
}

.skeleton-reviews {
  width: 50px;
}

.skeleton-button {
  width: 100%;
  height: 3rem;
  background-color: #ddd;
  border-radius: 4px;
}

@keyframes shimmer {
  0% {
      background-position: -400% 0;
  }
  100% {
      background-position: 400% 0;
  }
}

@media (max-width: 600px) {
  .skeleton-image {
    height: 130px;
  }
  
  .skeleton-text {
    height: 6px;
    margin: 4px 0;
  }
  
  .skeleton-title {
    height: 8px;
  }
  
  .skeleton-price {
    width: 60%;
  }
  
  .skeleton-star {
    height: 8px;
  }
  
  .skeleton-button {
    height: 2.3rem;
  }
}