@import url('../../Styles/global-color.css');
@import url('../../Styles/global-fonts.css');


.product-outer-container {
    display: flex;
    flex-direction: column;
}

.product-container {
    background-color: var(--primary-brown-100);
    height: auto;
    width: auto;
}

.buttons{
    display: flex;
    flex-direction: row;
}