@import url('../../Styles/global-color.css');
@import url('../../Styles/global-fonts.css');

/* body css  */
body {
    margin: 0;
    padding: 0;
}

/* Image Slider  */
.image-slider {
    margin: none;
    padding: none;
    height: auto;
}

.image-slider img {
    width: 100%;
    height: 100%;
}


/* Goverment Certification Styling  */
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
    background-color: var(--primary-brown-100);
}

.inner-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 100%;
    font-size: 1.4rem;
}


/* Category Card Styling  */

.card-heading{
    font-family: var(--font-Judson);
    font-weight: 100;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card-subheading{
    font-family: var(--font-Judson);
    font-weight: 100;
    color: var(--primary-grey-100);
}

.card1-container{
    background-color: var(--primary-white-100);
    color: var(--primary-black-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 50px;
    padding: 2rem;
    text-align: center;
    width: auto;
}

  
  .swiper {
    width: 60%;
    height: auto
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
  
/* Community card Styling  */

.card2-container{
    background-color: var(--primary-brown-100);
    color: var(--primary-black-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 50px;
    padding: 2rem;
    text-align: center;
    width: auto;
}

.card-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}
