@import url('../../Styles/global-color.css');
@import url('../../Styles/global-fonts.css');

/* Footer styles */
.footer {
  background-color: var(--primary-brown-100);
  color: var(--primary-green-700);
  font-family: var(--font-Judson);
  font-weight: 200;
  font-size: 1rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

/* Footer section styling */
.footer-section {
  text-align: left;
}

.footer-section a{
  color: var(--primary-green-700);
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-section p,
.footer-section ul {
  font-size: 14px;
  line-height: 1.5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  text-decoration: none;
  color: var(--primary-grey-100);
  transition: 0.3s;
  font-family: var(--font-Judson);
  font-size: 1rem;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

/* Play Store section */
.play-store img {
  width: 150px;
  margin-top: 10px;
}

/* Footer Bottom */
.footer-bottom {
  background-color: var(--primary-green-700);
  color: var(--primary-brown-100);
  text-align: left;
  padding: 10px;
  margin-top: 20px;
  font-weight: 100;
}
